@inherits LayoutComponentBase

@using Kongo.Core.Models
@inject KongoOptions options
@inject KongoStatusModel status

<div class="sidebar">
	<NavMenu />
</div>

<div class="main">
	<Row>
		<Column>
			<Card Margin="Margin.Is2.FromBottom">
				<CardHeader>
					<Row>
						<Column ColumnSize="ColumnSize.Is3">
							<CardTitle>
								<Heading Size="HeadingSize.Is4">Cardano Stakepool Monitor</Heading>
							</CardTitle>
							<CardSubtitle>brought to you by StakeYourAda.com</CardSubtitle>
						</Column>
						<Column ColumnSize="ColumnSize.Is5">
							<CardTitle>
								<Heading Size="HeadingSize.Is4"><strong>@options.PoolName</strong></Heading>
							</CardTitle>
							<CardSubtitle>Pool id: <strong>@options.PoolId</strong></CardSubtitle>
						</Column>
						<Column ColumnSize="ColumnSize.Is3">
							<CardTitle>
								<Heading Size="HeadingSize.Is4">Pool State: <strong>@status.PoolState</strong></Heading>
							</CardTitle>
							<CardSubtitle>Block Height: <strong>@status.CurrentBlockHeight</strong></CardSubtitle>
						</Column>
						<Column ColumnSize="ColumnSize.Is1">
							<a href="https://stakeyourada.com/" target="_blank">About</a>
						</Column>
					</Row>
				</CardHeader>
				<CardBody>
					<Row>
						<Column ColumnSize="ColumnSize.Is12">
							<div class="app-content">
								@Body
							</div>
						</Column>
					</Row>
				</CardBody>
			</Card>
		</Column>
	</Row>

</div>