@page "/"


<div class="container-fluid">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-12">
				<Card>
					<CardTitle Size="5">Kongō</CardTitle>
					<CardImage Source="/assets/images/9.jpg" Alt="Placeholder image">
					</CardImage>
					<CardBody>
						<CardText>
							A trident-shaped staff which emits a bright light in the darkness, and grants wisdom and insight.
							The staff belonged originally to the Japanese mountain god Kōya-no-Myōjin.
						</CardText>
					</CardBody>
				</Card>
			</div>
		</div>
	</div>
</div>

